﻿@model IEnumerable<MusicStore.Models.Factura>

@{
    ViewData["Title"] = "Index";
}

<h1>Facturas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFactura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Apellidos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FacturaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FacturaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FacturaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
