﻿@model IEnumerable<MusicStore.Models.Album>

@{
    ViewData["Title"] = "Index";
}

<h1>Albumes</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artista)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artista.ArtistaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AlbumId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.AlbumId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.AlbumId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
