﻿@model MusicStore.Models.DetalleFactura

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DetalleFactura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DetalleFacturaId" />
            <div class="form-group">
                <label asp-for="FacturaId" class="control-label"></label>
                <input asp-for="FacturaId" class="form-control" />
                <span asp-validation-for="FacturaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CancionId" class="control-label"></label>
                <select asp-for="CancionId" class="form-control" asp-items="ViewBag.CancionId"></select>
                <span asp-validation-for="CancionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioUnidad" class="control-label"></label>
                <input asp-for="PrecioUnidad" class="form-control" />
                <span asp-validation-for="PrecioUnidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
