﻿@model IEnumerable<MusicStore.Models.DetalleFactura>

@{
    ViewData["Title"] = "Index";
}

<h1>DetalleFactura</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FacturaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUnidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cancion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacturaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cancion.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DetalleFacturaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DetalleFacturaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DetalleFacturaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
