﻿@model IEnumerable<MusicStore.Models.Artista>

@{
    ViewData["Title"] = "Index";
}

<h1>Artistas</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArtistaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ArtistaId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ArtistaId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
